<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>StudentSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.StudentSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#StudentSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StudentSessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.StudentSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#StudentSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StudentSessionBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.StudentSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#StudentSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SchoolSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.SchoolSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#SchoolSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ModuleSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.ModuleSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#ModuleSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RatingSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.RatingSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#RatingSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReportSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.ReportSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#ReportSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>KanbanSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.KanbanSessionBeanLocal</local>
        <ejb-link>StudyBuddy-ejb.jar#KanbanSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
